@page "/chat/{chatName}"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@using ChatApp.Client.Models
@using ChatApp.Client.Services
@using ChatApp.Client.Components
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation
@inject ApiAccess Api
@inject CustomAuthenticationStateProvider AuthenticationStateProvider
@inject ClientSideEvents Events
@inject IJSRuntime JS
@implements IAsyncDisposable

@attribute [Authorize]

<PageTitle>Chat</PageTitle>

<SpinnerComponent IsLoading=@(isLoading)>
    <div class="chat-window text-center @(!chatMember ? "bg-dark bg-gradient text-white" : "") " id="chat-window" @ref=chatWindow>
    @if (!chatMember)
    {

        @if (!string.IsNullOrEmpty(chatDescription))
        {
            <h4 class="py-5">Chat Description</h4>
            <div>
                @chatDescription
            </div>
        }
    }
    else if (chatMessages != null) 
    {
            @foreach (var message in chatMessages)
            {
                if (currentUserId == message.UserId)
                {
                    <ChatMessage type="sent" messageModel="message" />
                }
                else
                {
                    <ChatMessage type="received" messageModel="message" />
                }
            }
    }
    </div>
    
    <hr>

    @if (!chatMember) 
    {
        <div class="chat-input-container">
            <button @onclick="JoinChat" class="w-100 btn-join" disabled="@(!IsConnected)">Join Chat</button>
        </div>
    }
    else 
    {
        <div class="chat-input-container">
            <input @bind="messageInput" @onkeyup="Enter" type="text" id="chatInput" class="chat-input" placeholder="Type your message...">
            <button @onclick="Send" class="btn-send" disabled="@(!IsConnected)">Send</button>
        </div>
    }
</SpinnerComponent>



@code {
    [Parameter]
    public string ChatName { get; set; } = string.Empty;


    private string chatDescription = "";

    private ElementReference chatWindow;

    private HubConnection? hubConnection;
    private List<Message> chatMessages = default!;

    private bool chatMember = false;
    private int currentUserId = -1;
    private string currentUserName = "";
    private string? messageInput;
    private bool isLoading = true;

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) 
            await ScrollToBottom();
    }

    private async Task ScrollToBottom()
    {
        await JS.InvokeVoidAsync("ScrollToBottom", chatWindow);
    }

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/chathub"))
            .Build();


        hubConnection.On<int, string, int, string>("ReceiveMessage", (userId, userName, chatId, message) =>
        {
            AddMessage(userId, userName, chatId, message);
        });

        hubConnection.On<string>("GroupConnect", (message) =>
        {
            // Console.WriteLine(message);
        });

        hubConnection.On<string>("GroupDisconnect", (message) =>
        {
            // Console.WriteLine(message);
        });

        Events.onChatGroupJoin += ReloadChat;

        await hubConnection.StartAsync();

        await hubConnection.SendAsync("AddToGroup", ChatName);

        var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        Int32.TryParse(state.User.FindFirst("UserId")?.Value, out currentUserId);
        currentUserName = state.User.Identity!.Name!;

        chatMember = await Api.IsChatParticipantAsync(ChatName, currentUserName);
        if (!chatMember)
            chatDescription = await Api.GetChatDescription(ChatName);
        else
            chatMessages = await Api.GetMessagesAsync(ChatName);

        isLoading = false;
    }


    private async Task Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            await Send();
        }
    }

    private async Task Send()
    {
        if (!string.IsNullOrEmpty(messageInput) && hubConnection is not null)
        {
            await hubConnection.SendAsync("SendMessage", currentUserId, currentUserName, ChatName, messageInput);
            messageInput = "";
        }
    }

    private async Task JoinChat()
    {
        if (hubConnection is not null)
        {
            await Api.JoinChat(ChatName);
            chatMember = true;
            StateHasChanged();
        }
    }    

    private void AddMessage(int senderId, string senderName, int chatId, string message) 
    {
        chatMessages.Add(new Message(senderId, senderName, chatId, message));// TODO: Use actual createAt time
        StateHasChanged();
    }

    private void ReloadChat(string chatName)
    {
        Navigation.NavigateTo($"/chat/{chatName}", true);
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("RemoveFromGroup", ChatName);
            await hubConnection.DisposeAsync();
        }
        Events.onChatGroupJoin -= ReloadChat;
    }
}