@page "/chat/{chatName}"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@using ChatApp.Client.Models
@using ChatApp.Client.Services
@using ChatApp.Client.Components
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation
@inject ApiAccess Api
@inject CustomAuthenticationStateProvider AuthenticationStateProvider
@inject ClientSideEvents Events
@inject IJSRuntime JS
@implements IAsyncDisposable

@attribute [Authorize]

<PageTitle>Chat</PageTitle>

<SpinnerComponent IsLoading=@(isLoading)>
    @if (!chatMember)
    {
        <div class="chat-window" id="chat-window" @ref=chatWindow>
        </div>

        <hr>

        <div class="chat-input-container">
            <button @onclick="JoinChat" class="w-100 btn-join" disabled="@(!IsConnected)">Join Chat</button>
        </div>
    }
    else if (chatMessages != null) 
    {
        <div class="chat-window" id="chat-window" @ref=chatWindow>
            @foreach (var message in chatMessages)
            {
                if (currentUserId == message.UserId)
                {
                    <ChatMessage type="sent" messageModel="message" />
                }
                else
                {
                    <ChatMessage type="received" messageModel="message" />
                }
            }
        </div>
    
        <hr>

        <div class="chat-input-container">
            <input @bind="messageInput" type="text" id="chatInput" class="chat-input" placeholder="Type your message...">
            <button @onclick="Send" class="btn-send" disabled="@(!IsConnected)">Send</button>
        </div>
    }
</SpinnerComponent>



@code {
    [Parameter]
    public string ChatName { get; set; } = string.Empty;

    private ElementReference chatWindow;

    private HubConnection? hubConnection;
    private List<Message> chatMessages = default!;

    private bool chatMember = false;
    private int currentUserId = -1;
    private string currentUserName = "";
    private string? messageInput;
    private bool isLoading = true;

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) 
            await ScrollToBottom();
    }

    private async Task ScrollToBottom()
    {
        await JS.InvokeVoidAsync("ScrollToBottom", chatWindow);
    }

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/chathub"))
            .Build();


        hubConnection.On<int, string, int, string>("ReceiveMessage", (userId, userName, chatId, message) =>
        {
            AddMessage(userId, userName, chatId, message);
        });

        hubConnection.On<string>("GroupConnect", (message) =>
        {
            // Console.WriteLine(message);
        });

        hubConnection.On<string>("GroupDisconnect", (message) =>
        {
            // Console.WriteLine(message);
        });

        await hubConnection.StartAsync();

        await hubConnection.SendAsync("AddToGroup", ChatName);

        chatMessages = await Api.GetMessagesAsync(ChatName);

        var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        Int32.TryParse(state.User.FindFirst("UserId")?.Value, out currentUserId);
        currentUserName = state.User.Identity!.Name!;

        chatMember = await Api.IsChatParticipantAsync(ChatName, currentUserName);
        isLoading = false;
    }

    private async Task Send()
    {
        if (!string.IsNullOrEmpty(messageInput) && hubConnection is not null)
        {
            await hubConnection.SendAsync("SendMessage", currentUserId, currentUserName, ChatName, messageInput);
        }
    }

    private async Task JoinChat()
    {
        if (hubConnection is not null)
        {
            await Api.JoinChat(ChatName);
            chatMember = true;
            StateHasChanged();
        }
    }    

    private void AddMessage(int senderId, string senderName, int chatId, string message) 
    {
        chatMessages.Add(new Message(senderId, senderName, chatId, message));// TODO: Use actual createAt time
        StateHasChanged();
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("RemoveFromGroup", ChatName);
            await hubConnection.DisposeAsync();
        }
    }
}